In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

 #  <p style="text-align: center;">Predicting Prospect Propensity</p>

In [4]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
import os
import matplotlib.pylab as plt
from sklearn.model_selection  import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
import sklearn.metrics

web_clicks_data = pd.read_csv("/content/drive/My Drive/Datasets/propensity.csv")

web_clicks_data.dtypes

SESSION_ID         int64
IMAGES             int64
REVIEWS            int64
FAQ                int64
SPECS              int64
SHIPPING           int64
BOUGHT_TOGETHER    int64
COMPARE_SIMILAR    int64
VIEW_SIMILAR       int64
WARRANTY           int64
SPONSORED_LINKS    int64
BUY                int64
dtype: object

In [5]:
# Look at the top records to understand how the data looks like.
web_clicks_data.head()

   SESSION_ID  IMAGES  REVIEWS  ...  WARRANTY  SPONSORED_LINKS  BUY
0        1001       0        0  ...         1                0    0
1        1002       0        1  ...         0                1    0
2        1003       1        0  ...         1                0    0
3        1004       1        0  ...         0                0    0
4        1005       1        1  ...         0                0    0

[5 rows x 12 columns]

In [6]:
#Do summary statistics analysis of the data
web_clicks_data.describe()

        SESSION_ID      IMAGES  ...  SPONSORED_LINKS         BUY
count   500.000000  500.000000  ...       500.000000  500.000000
mean   1250.500000    0.510000  ...         0.550000    0.370000
std     144.481833    0.500401  ...         0.497992    0.483288
min    1001.000000    0.000000  ...         0.000000    0.000000
25%    1125.750000    0.000000  ...         0.000000    0.000000
50%    1250.500000    1.000000  ...         1.000000    0.000000
75%    1375.250000    1.000000  ...         1.000000    1.000000
max    1500.000000    1.000000  ...         1.000000    1.000000

[8 rows x 12 columns]

### Perform Correlation Analysis

In [7]:
web_clicks_data.corr()['BUY']

SESSION_ID         0.026677
IMAGES             0.046819
REVIEWS            0.404628
FAQ               -0.095136
SPECS              0.009950
SHIPPING          -0.022239
BOUGHT_TOGETHER   -0.103562
COMPARE_SIMILAR    0.190522
VIEW_SIMILAR      -0.096137
WARRANTY           0.179156
SPONSORED_LINKS    0.110328
BUY                1.000000
Name: BUY, dtype: float64

Looking at the correlations above we can see that some features like REVIEWS, BRO_TOGETHER, COMPARE_SIMILAR, WARRANTY and SPONSORED_LINKS have medium correlation to the target variable. We will reduce our feature set to that list of variables.

In [8]:
#Drop columns with low correlation
predictors = web_clicks_data[['REVIEWS','BOUGHT_TOGETHER','COMPARE_SIMILAR','WARRANTY','SPONSORED_LINKS']]
targets = web_clicks_data.BUY

##  Training and Testing Split

We now split the model into training and testing data in the ratio of 70:30

In [9]:
pred_train, pred_test, tar_train, tar_test  =   train_test_split(predictors, targets, test_size=.3)

print( "Predictor - Training : ", pred_train.shape, "Predictor - Testing : ", pred_test.shape )

('Predictor - Training : ', (350, 5), 'Predictor - Testing : ', (150, 5))

## Build Model and Check Accuracy

In [10]:
from sklearn.naive_bayes import GaussianNB

classifier=GaussianNB()
classifier=classifier.fit(pred_train,tar_train)

predictions=classifier.predict(pred_test)

#Analyze accuracy of predictions
sklearn.metrics.confusion_matrix(tar_test,predictions)

array([[77, 12],
       [32, 29]])

In [11]:
sklearn.metrics.accuracy_score(tar_test, predictions)

0.7066666666666667

Instead of doing a Yes/No prediction, we can instead do a probability computation to show the probability for the web_clicks to buy the product

In [12]:
pred_prob=classifier.predict_proba(pred_test)
pred_prob[0,1]

0.2779231274385168

The probability above can be read as 35% chance that the web_clicks will buy the product.

## Real time predictions

Now that the model has been built, let us use it for real time predictions. So when the customer starts visiting the pages one by one, we collect that list and then use it to compute the probability. We do that for every new click that comes in.

So let us start. The web_clicks just came to your website. There are no significant clicks. Let us compute the probability. The array of values passed has the values for REVIEWS, BOUGHT_TOGETHER, COMPARE_SIMILAR, WARRANTY and SPONSORED_LINKS. So the array is all zeros to begin with

In [13]:
browsing_data = np.array([0,0,0,0,0]).reshape(1, -1)
print("New visitor: propensity :",classifier.predict_proba(browsing_data)[:,1] )

('New visitor: propensity :', array([0.04479078]))

So the initial probability is 4%. Now, suppose the customer does a comparison of similar products. The array changes to include a 1 for that function. The new probability will be

In [14]:
browsing_data = np.array([0,0,1,0,0]).reshape(1, -1)
print("After checking similar products: propensity :",classifier.predict_proba(browsing_data)[:,1] )

('After checking similar products: propensity :', array([0.13593444]))

It goes up. Next, he checks out reviews.

In [15]:
browsing_data = np.array([1,0,1,0,0]).reshape(1, -1)
print("After checking reviews: propensity :",classifier.predict_proba(browsing_data)[:,1] )

('After checking reviews: propensity :', array([0.52138933]))

It shoots up to 50+%. You can have a threshold for when you want to offer chat. You can keep checking this probability against that threshold to see if you want to popup a chat window.

This example shows you how you can use predictive analytics in real time to decide whether a web_clicks has high propensity to convert and offer him a chat with a sales rep/agent.